html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border-color: green;
    border-width: 1px;
    border-style: solid;
    width: 100vmin;
    height: 100vmin;
}